button{
    width: 45%;
    background-color: orange;
    padding: 10px 10px;
    margin: 2px;
    color: white;
    margin-top: 15px;
}
.star{
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-right: 25px;
    
}
.price{
    display: inline-block;
    margin-right: 20px;
}